# Combine all 4 transcriptomics datasets

In [3]:
import pandas as pd

df_MCF7 = pd.read_csv('./MCF7_FPKM_Recon3_ids.csv',usecols=[1,2],index_col=0)
df_MCF7.columns = ['MCF7']
df_MCF7_F = pd.read_csv('./MCF7_F_FPKM_Recon3_ids.csv',usecols=[1,2],index_col=0)
df_MCF7_F.columns = ['MCF7_F']
df_MCF7_T = pd.read_csv('./MCF7_T_FPKM_Recon3_ids.csv',usecols=[1,2],index_col=0)
df_MCF7_T.columns = ['MCF7_T']
df_LTED = pd.read_csv('./LTED_FPKM_Recon3_ids.csv',usecols=[1,2],index_col=0)
df_LTED.columns = ['LTED']

# merge all 4 datasets
df = df_MCF7.merge(df_MCF7_F,how='outer',left_index=True, right_index=True) # join the keys
df = df.merge(df_MCF7_T,how='outer',left_index=True, right_index=True) # join the keys
df = df.merge(df_LTED,how='outer',left_index=True, right_index=True) # join the keys

print(len(df))

# save dataset
df.to_pickle('total_dataset')

df.head()

2290

                MCF7    MCF7_F    MCF7_T       LTED
entrez_id
0.0         0.000000  0.000000  0.000000   0.000000
13.1        0.129984  0.000000  0.080061   0.087407
15.1        0.000000  0.058408  0.059831   0.032661
18.1       36.980706  5.672655  5.680825  34.087925
18.2       36.980706  5.672655  5.680825  34.087925

In [41]:
# How many are non-zero in at least one cell line?
df = df[(df.T != 0).any()]
len(df)

1456