# Combine all 4 transcriptomics datasets

In [42]:
import pandas as pd

# df_MCF7 = pd.read_csv('./MCF7_FPKM_BULK_sortedIDs.csv',index_col=0)
df_MCF7 = pd.read_csv('./unsorted/MCF7_FPKM_BULK.csv',usecols=[1,2],index_col=0)
df_MCF7.columns = ['MCF7']
# df_MCF7_F = pd.read_csv('./MCF7_F_FPKM_BULK_sortedIDs.csv',index_col=0) 
df_MCF7_F = pd.read_csv('./unsorted/MCF7_F_FPKM_BULK.csv',usecols=[1,2],index_col=0)
df_MCF7_F.columns = ['MCF7_F']
# df_MCF7_T = pd.read_csv('./MCF7_TAM_FPKM_BULK_sortedIDs.csv',index_col=0)
df_MCF7_T = pd.read_csv('./unsorted/MCF7_TAM_FPKM_BULK.csv',usecols=[1,2],index_col=0)
df_MCF7_T.columns = ['MCF7_T']
# df_LTED = pd.read_csv('./LTED_FPKM_BULK_sortedIDs.csv',index_col=0) 
df_LTED = pd.read_csv('./unsorted/LTED_FPKM_BULK.csv',usecols=[1,2],index_col=0)
df_LTED.columns = ['LTED']

# merge all 4 datasets
df = df_MCF7.merge(df_MCF7_F,how='outer',left_index=True, right_index=True) # join the keys
df = df.merge(df_MCF7_T,how='outer',left_index=True, right_index=True) # join the keys
df = df.merge(df_LTED,how='outer',left_index=True, right_index=True) # join the keys

print(len(df))

# save dataset
df.to_pickle('total_dataset')

df.head()

1689

                 MCF7     MCF7_F     MCF7_T       LTED
HGNC_ID
HGNC:13734   0.000000   0.000000   0.000000   0.000000
HGNC:4020    1.973682   2.393062  12.950174   4.327107
HGNC:4021    8.634477   4.563854   5.837683   4.253408
HGNC:344    39.351386  28.221353  24.069448  25.147869
HGNC:341     0.000000   0.045461   0.000000   0.000000

In [41]:
# How many are non-zero in at least one cell line?
df = df[(df.T != 0).any()]
len(df)

1456